{{ $subscribers := sort (where .Site.Data.subscribers "is_active" true) "name" }}
{{ range $index, $subscriber := $subscribers }}
    <a
    class="rich-list half has-icon mr-2 mb-2"
    href="{{ $.Site.BaseURL }}subscribers/{{ $subscriber.shortname }}"
    data-url="{{ $subscriber.feed }}"
    rel="noopener noreferrer"
    >
        <div class="icon"><i class="fas fa-blog"></i></div>
        <div class="listcont" title-content="{{ $subscriber.name }}">{{ $subscriber.name }}</div>
        <div class="subtext is-size-7">{{ $.Site.BaseURL }}subscribers/{{ $subscriber.shortname }}</div>
    </a>
{{ end }}