
{{ $baseURL := .Site.BaseURL }}
<section class="section">
    <div class="container content">
        <div class="columns is-multiline is-centered">
            {{ partial "sidebar.html" . }}
            <div class="content column is-9">
                <div class="container rich">
                    <div class="cont coloring-1">
                        <h2 class="title is-4">
                            <a href="{{ .Params.link }}">
                                {{ .Params.title }}
                            </a>
                        </h2>
                        <article class="subtitle is-7">
                            <span class="has-text-weight-normal">
                                {{ .Date.Format "January 2, 2006 3:04 PM UTC" }}
                            </span> by 
                            <span class="has-text-weight-normal">
                                {{ $firstSubscriber := index .Params.subscribers 0 }}
                                <a href="{{ $baseURL }}/subscribers/{{ $firstSubscriber | urlize }}">
                                    {{ .Params.author }} 
                                </a>
                            </span>
                            
                            {{ $tags := .Params.tags }}
                            {{ if gt (len $tags) 0 }}
                                under
                                {{ range $tags }}
                                    <span class="tag is-success is-light mb-1">
                                        <a href="{{ $baseURL }}/tags/{{ . | urlize }}" class="truncate-tag">{{ . }}</a>
                                    </span>
                                {{ end }}
                            {{ end }}

                        </article>
                        <div class="content mt-3">
                            {{ .Page.RawContent | safeHTML }}
                        </div>
                        <a href="{{ .Params.link }}" class="button is-success is-outlined">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>