{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination is-centered m-3" role="navigation" aria-label="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{.Paginator.First.URL}}" class="pagination-previous">
    <span class="icon"><i class="fas fa-angle-double-left"></i></span>&nbsp;First
  </a>
  <a href="{{.Paginator.Prev.URL}}" class="pagination-previous">
    <span class="icon"><i class="fas fa-angle-left"></i></span>&nbsp;Previous
  </a>
  {{ end }}
  <span class="pagination-info button">Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}</span>
  {{ if .Paginator.HasNext }}
  <a href="{{.Paginator.Next.URL}}" class="pagination-next">
    Next&nbsp;<span class="icon"><i class="fas fa-angle-right"></i></span>
  </a>
  <a href="{{.Paginator.Last.URL}}" class="pagination-next">
    Last&nbsp;<span class="icon"><i class="fas fa-angle-double-right"></i></span>
  </a>
  {{ end }}
</nav>
{{ end }}