{{ with .Page }}
{{ $pageUrl:= replaceRE "/$" "" .RelPermalink }}

<div id="hamburger-btn" onclick="toggleMenu()"><span id="ham-title"></span></div>
<div class="column is-3">
    <nav id="sidebar" class="sidebar">
        <ul class="content-wrapper">
            {{ $subscribers := getJSON "data/subscribers.json" }}
            {{ $sortedSubscribers := sort $subscribers "name" }}
            {{ range $sortedSubscribers }}
                {{ if .is_active }}
                    {{ $folderPath := printf "content/community-blogs/%s" .foldername }}
                    {{ $fileCount := sub (len (readDir $folderPath)) 1 }}
                    <li>
                        <a href="/community-blogs/{{ .foldername }}">{{ .name }} 
                            <span class="tag">{{ $fileCount }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </nav>
</div>
{{ end }}

<script>
function rotateArrow(e) {
        e.previousElementSibling.querySelector('img').classList.toggle('rotated');
}

function toggleSubMenu(listId) {
        let e = document.getElementById(listId);
        e.classList.toggle('unfolded');
        rotateArrow(e);
}

function toggleMenu() {
        document.getElementById('sidebar').classList.toggle('visible');
        document.getElementById('hamburger-btn').classList.toggle('open');
}

// compose title for menu button: contatenate parent section titles
let activeListItem = document.getElementsByClassName('is-active')[0];
let ham = document.getElementById('ham-title');
let hamTitle = activeListItem.querySelector('a').textContent;
if (activeListItem.parentElement.previousElementSibling != null) {
        hamTitle = activeListItem.parentElement.previousElementSibling.querySelector('a').textContent + ' / ' + hamTitle;
}
ham.textContent = hamTitle;

// expand active section
document.querySelectorAll('li.is-active,li:has(.is-active)').forEach(li => {
        if (e = li.querySelector('ul')) {
                e.classList.toggle('unfolded');
        }
});
</script>
