{{ with .Page }}
{{ $pageUrl:= replaceRE "/$" "" .RelPermalink }}

<div id="hamburger-btn" onclick="toggleMenu()"><span id="ham-title"></span></div>
<div class="column is-3">
    <nav id="sidebar" class="sidebar">
        <ul class="content-wrapper">

            <li {{ if eq $pageUrl .Site.BaseURL }} class="is-active"{{ end }}>
                <a href="{{ .Site.BaseURL }}" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
            </li>
            <li {{ if findRE (replaceRE "/$" "" "posts") $pageUrl }} class="is-active"{{ end }}>
                <a href="{{ .Site.BaseURL }}/posts" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-link"></i>
                    </span>
                    <span>All Posts</span>
                </a>
            </li>

            <li {{ if findRE (replaceRE "/$" "" "subscribers") $pageUrl }} class="is-active"{{ end }}>
                <div class="has-child">
                    <a onclick="toggleSubMenu('subscribers')" class="icon-text">
                        <span class="icon">
                            <i class="fas fa-users"></i>
                        </span>
                        <span>Subscribers</span>
                    </a>
                    <span onclick="toggleSubMenu('subscribers')" class="drop-arrow"><img src="{{ "img/arrow.svg" | absURL }}"/></span>
                </div>
                <ul id="subscribers" class="collapsed">
                    {{ .Scratch.Delete "subscribers" }}
                    {{ range $.Site.RegularPages }}
                        {{ with .Param "subscribers" }}
                            {{ $.Scratch.Delete "subscriber" }}
                            {{ range $index, $subscriber := . }}
                                {{ $subscriber := (printf `/%s` ($subscriber | urlize)) }}
                                {{ $.Scratch.Add "subscriber" $subscriber }}
                                {{ $.Scratch.Add "subscribers" (slice ($.Scratch.Get "subscriber")) }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ $subscribers := uniq (.Scratch.Get "subscribers") | sort }}
        
                    {{ range $index, $value := $subscribers }}
                        {{ $subscriberTerms := (split (strings.TrimPrefix "/" .) "/") }}
                        {{ $depth := (len $subscriberTerms) }}
                        {{ $lastTerm := (delimit (last 1 $subscriberTerms) " ") }}
                        {{ $url := urls.Parse $lastTerm }}
                        {{ $path := $url.Path }}
                        {{ with $.Site.GetPage (printf `/subscribers/%s` $path) }}
                        <li {{ if findRE (replaceRE "/$" "" $path) $pageUrl }} class="is-active"{{ end }}>
                            <a href="{{ .RelPermalink }}" class="icon-text truncate">
                                <span class="icon">
                                    <i class="fas fa-blog"></i>
                                </span>
                                <span>
                                    {{ $subscriberName := "" }}
                                    {{ range $subscriberData := $.Site.Data.subscribers }}
                                        {{ if eq $subscriberData.shortname $path }}
                                            {{ $subscriberName = $subscriberData.name }}
                                        {{ end }}
                                    {{ end }}
                                    {{ $subscriberName | default .LinkTitle | default .Data.Term | default $path }}
                                </span>
                            </a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>
                
            </li>
            <li>
                <a 
                    class="tagcloudModalButton icon-text" 
                    href="#tagcloudModal" 
                    role="button" 
                    data-target="planetTagsModal"
                    onclick="toggleMenu()"
                >
                    <span class="icon">
                        <i class="fas fa-tags"></i>
                    </span>
                    <span>Tags</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{{ end }}

<script>
function rotateArrow(e) {
        e.previousElementSibling.querySelector('img').classList.toggle('rotated');
}

function toggleSubMenu(listId) {
        let e = document.getElementById(listId);
        e.classList.toggle('unfolded');
        rotateArrow(e);
}

function toggleMenu() {
        document.getElementById('sidebar').classList.toggle('visible');
        document.getElementById('hamburger-btn').classList.toggle('open');
}

// compose title for menu button: contatenate parent section titles
let activeListItem = document.getElementsByClassName('is-active')[0];
let ham = document.getElementById('ham-title');
let hamTitle = activeListItem.querySelector('a').textContent;
if (activeListItem.parentElement.previousElementSibling != null) {
        hamTitle = activeListItem.parentElement.previousElementSibling.querySelector('a').textContent + ' / ' + hamTitle;
}
ham.textContent = hamTitle;

// expand active section
document.querySelectorAll('li.is-active,li:has(.is-active)').forEach(li => {
        if (e = li.querySelector('ul')) {
                e.classList.toggle('unfolded');
        }
});
</script>
